<div class="col-md-5">
  <%= simple_form_for @task do |f| %>

    <p><%= f.input :title %></p>
    <p><%= f.input :priority%></p>
    <p><%= f.input :description%></p>

  <div class="form-group">
    <label for="usr">Date</label>
    <%= f.text_field :date, class: "form-control datepicker", value: Date.today.strftime('%Y-%m-%d') %></p>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
      });
    });
  </script>

    <p><%= f.input :completed %></p>
    <p><%= f.button :submit %></p>

  <% end %>
</div>
